body {
    /*text-align: center; */
}

body {
    margin :0;
    header {
        height : 8vh;
        width : 100%;
        position : fixed;    
    }

    #layout-main {
        height : 88vh;
    }
    
    footer {
        height : 4vh;

    }
}